body {
  background-color: #f6f2ee;
}

.nav-color {
  background-color: #f4e6a6;
  color: #4b2e1f;
}

.thai {
  font-family: "Prompt", sans-serif;
  font-style: normal;
  color: #4b2e1f;
}

.text-hover {
  transition: 0.3s ease;
}

.text-hover:hover {
  color: #ff0080;
  transform: scale(1.05);
  display: inline-block;
}

.card-img-top {
  height: 400px;
  object-fit: cover;
}
